.grid-item.full { width: 960px; }
.grid-content { padding: 0; }

.flip-onsearch-container {
	margin: 0 auto 10px 0;
	perspective: 900px;
	position: relative;
	width: 100%;
}

#onesearch {
	height: 100%;
	position: relative;
	transform-origin: right center;
	transform-style: preserve-3d;
	transition: transform 0.4s;
	width: 100%;
}

#onesearch.flipped { transform: translateX( -100% ) rotateY( -180deg ); }

#onesearch figure, #onesearch div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
	font-size: 1em;
	position: absolute;
	width: 100%;
}

#onesearch .back-search {
	height: 285px;
    padding: 10px;
    background: teal;
	transform: rotateY( 180deg );
    color: white;
}


#onesearch .front-search { 
    height: 285px;
    background:gold;
    padding: 10px;
}
