		figure {
		  margin: 0;
		}
		
		.flip-container {
		  width: 100%;
		  height: 200px;
		  position: relative;
		  margin: 0 auto 10px 0;
		  -webkit-perspective: 800px;
			 -moz-perspective: 800px;
			   -o-perspective: 800px;
				  perspective: 800px;
		}
		
		#card, #slideCard1 {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  -webkit-transition: -webkit-transform 1s;
			 -moz-transition: -moz-transform 1s;
			   -o-transition: -o-transform 1s;
				  transition: transform 1s;
		  -webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
			   -o-transform-style: preserve-3d;
				  transform-style: preserve-3d;
		  -webkit-transform-origin: right center;
			 -moz-transform-origin: right center;
			   -o-transform-origin: right center;
				  transform-origin: right center;
		}
		
		#card.flipped, #slideCard1.flipped {
		  -webkit-transform: translateX( -100% ) rotateY( -180deg );
			 -moz-transform: translateX( -100% ) rotateY( -180deg );
			   -o-transform: translateX( -100% ) rotateY( -180deg );
				  transform: translateX( -100% ) rotateY( -180deg );
		}
		
		#card figure, #slideCard1 figure, #card div, #slideCard1 div {
		  display: block;
		  height: 100%;
		  width: 100%;
		  text-align: center;
		  font-weight: bold;
		  font-size: 1em;
		  position: absolute;
		  -webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
			   -o-backface-visibility: hidden;
				  backface-visibility: hidden;
		  padding: 0% 5%;
		}
		#card figure h3, #card div h3 { line-height: 1; }
		#card figure p, #card div p { font-weight: normal; }
		
		#card .front, #slideCard1 .front {
		  background: #EEE;
          padding: 10px;
            height: 285px;
		}
		
		#card .back, #slideCard1 .back {
		  background: #CCC;
		  -webkit-transform: rotateY( 180deg );
			 -moz-transform: rotateY( 180deg );
			   -o-transform: rotateY( 180deg );
				  transform: rotateY( 180deg );
            padding: 10px;
            height: 285px;
		}