* { box-sizing: border-box; }

/* force scroll bar */
html { overflow-y: scroll; }

body { }
/*.container-wrapper { max-width: 970px; margin: 0 auto;}*/
.content { width: 960px; /*background: #ff1*/ }


/*---- typography ---- */


/* ---- grid ---- */

.grid {
/*  background: #DDD;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* 12 columns, percentage width */
/*.grid-item {
  width: 8.33333%;
}*/

.stamp {  border-color: aquamarine; }
.stamp1 { left: 0%; top: 0; }
.stamp2 { right: 0%; top: 200; }

.grid-item {
  float: left;
/*  min-height: 290px;*/
  padding: 5px;
}

.grid-item.third { width: 320px; }
.grid-item.half { width: 480px; }
.grid-item.twoThirds { width: 640px; }
.grid-item.twoThirds .grid-content, .grid-item.half .grid-content { height: 237px; }

.grid-content.blue { background: #008fb7; }
.grid-content.pink { background: #c0416e; }
.grid-content.purple { background: #6c62ab; }
.grid-content.watermelon { background: #e0003f; }
.grid-content.lime { background: #81cd24; }
.grid-content.yellow { background: #f9a900; }
.grid-content.turquoise { background: #00a4a1; }
.grid-content.orange { background: #ec6915; }

.grid-content {
    padding: 15px 30px 15px 0;
    background: #fff;
    border-top:solid 1px #eee;
}
.grid-item:hover { background: #ccc; }

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.gutter-sizer { width: 1%; }

.padding10 { padding: 10px }

/*Various text sizes */
.text-xs { font-size: 1rem }
.text-sm { font-size: 1.2rem }
.text-md { font-size: 1.3rem; }
.text-lge { font-size: 2rem; }

.aRight { float: right; }
img.clock { width: 30px; margin-right: 5px;  }
#countdown { color: #4f94e2; background-image: url(../img/wavy-underline.svg); background-repeat: repeat-x; background-position: bottom; padding-bottom: 5px;  }
#info, #resolveInfo, #slide1-info { text-align: right; cursor: pointer; }
#info img, #resolveInfo img, #slide1-info img { width: 3.5%; margin-right: 5px; vertical-align: text-top; }
form.oneSearch input[type=text] { width: 60%; }
form.oneSearch select { width: 20%; }
.searchBtn { background: pink; vertical-align: middle; }

iframe body { margin: 0; padding: 0; }

/*overrides for the skeleteon columns */
.set-thirds { min-height: 220px; }

.slq-header { background-image: url(../img/Prototype%20header.svg); min-height: 190px; background-size: cover; width: 100%; }
.slq-logo { display: inline-block; float: left; margin-left: -40px; } /*offset the slq logo so its out of the page flow*/ 
.slq-footer { background-image: url(../img/footer.svg); background-size: cover; min-height: 250px; margin: 5px; width: 100%;  }


/* Breakpoints for mobile devices */

/* Smartphones style adjustments (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .grid-item.twoThirds { width: 100%; }
    .grid-item.third, .grid-item.half { width: 50%; }
    .row .grid-item .grid-content.otherSites {min-height: 500px;}
}

/* Tablet style adjustments (portrait) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    .grid-item.twoThirds { width: 100%; }
    .grid-item.third, .grid-item.half { width: 50%; }
    .row .grid-item .grid-content.otherSites {min-height: 340px;}
}