* { box-sizing: border-box; }

/* force scroll bar */
html { overflow-y: scroll; }

body { margin:0;padding:0;}
/*.container-wrapper { max-width: 970px; margin: 0 auto;}*/
.content { width: 960px; /*background: #ff1*/ }


/*----  typography ---- */


/* ---- composition ---- */

.symmetrical{
  text-align:center;
  position: relative;
  top: 50%;
  transform:      translateY(-50%);
}
.symmetrical:first-child{
  /*margin-top:100px;*/

}

/*---- colour ----*/

.dark-elements{}

.light-elements{
  color:#fff;
}


/* ---- grid ---- */

.grid {
/*  background: #DDD;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* 12 columns, percentage width */
/*.grid-item {
  width: 8.33333%;
}*/

.stamp {  border-color: aquamarine; }
.stamp1 { left: 0%; top: 0; }
.stamp2 { right: 0%; top: 200; }

.grid-item {
  float: left;
/*  min-height: 290px;*/
  padding: 5px;
}

.grid-item.third { width: 320px; }
.grid-item.half { width: 480px; }
.grid-item.twoThirds { width: 640px; }
.grid-item.twoThirds .grid-content, .grid-item.half .grid-content { min-height: 237px; }

.grid-content.blue { background: #008fb7; }
.grid-content.pink { background: #c0416e; }
.grid-content.purple { background: #6c62ab; }
.grid-content.watermelon { background: #e0003f; }
.grid-content.lime { background: #81cd24; }
.grid-content.yellow { background: #f9a900; }
.grid-content.turquoise { background: #00a4a1; }
.grid-content.orange { background: #ec6915; }

.grid-content {
    padding: 15px 30px 15px 0;
    background: #fff;
    /*border-top:solid 1px #eee;*/
}
.grid-item:hover { background: #ccc; }

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.gutter-sizer { width: 1%; }

.padding10 { padding: 10px }

/*Various text sizes */
.text-xs { font-size: 1rem }
.text-sm { font-size: 1.2rem }
.text-md { font-size: 1.3rem; }
.text-lge { font-size: 2rem; }

.aRight { float: right; }
img.clock { }
.tile-title-icon{width: 30px; margin-right: 10px;  }

#info, #resolveInfo, #slide1-info, #resolve-slide1 { text-align: right; cursor: pointer; }
#info img, #resolveInfo img, #slide1-info img, #resolve-slide1 img { width: 3.5%; margin-right: 5px; vertical-align: text-top; }
form.oneSearch input[type=text] { width: 60%; }
form.oneSearch select { width: 20%; }
.searchBtn { background: pink; vertical-align: middle; }

iframe body { margin: 0; padding: 0; }

/*overrides for the skeleton columns */
.set-thirds { min-height: 220px; }

.slq-header { background-image: url(../img/Prototype%20header.svg); min-height: 190px; background-size: cover; width: 100%; }
.slq-logo { display: inline-block; float: left; margin-left: -40px; margin-top:5px;} /*offset the slq logo so its out of the page flow*/ 
.slq-logo img{width:35px;}
.slq-footer { min-height: 250px; width: 100%; background: #333; padding-top: 0; color: #333;  }
.slq-footer img { width: 100%; }


/* Breakpoints for mobile devices */

/* Smartphones style adjustments (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .grid-item.twoThirds { width: 100%; }
    .grid-item.third, .grid-item.half { width: 50%; }
    .row .grid-item .grid-content.otherSites {min-height: 500px;}
}

/* Tablet style adjustments (portrait) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    .grid-item.twoThirds { width: 100%; }
    .grid-item.third, .grid-item.half { width: 50%; }
    .row .grid-item .grid-content.otherSites {min-height: 340px;}
}