/* CSS Styles for Packery inspired Homepage */

{ box-sizing: border-box; }

/* force scroll bar */
/*html { overflow-y: scroll; }*/

body { font-family: sans-serif; }
.container-wrapper { max-width: 970px; margin: 0 auto;}
.content { width: 960px; /*background: #ff1*/ }
h1.header { text-align: center; /*font-size: 3rem;*/ }
/*h1 { font-size: 1.6rem; }*/
a:link {color: #333;}

/* Columns for content that appears in columns within a grid item */
.column3 { float: left; width: 31.2%; padding: 0px 10px 10px 10px; }
.column2 { float: left; width: 50%; }
.column4 { float: left; width: 25%; }
.smallDesc { font-size: 0.7rem; }
.imgThumb { margin: 15px 2px 2px 2px; border: 1px solid #ccc; height: 180px; }
.tilePadding { padding: 0px 10px 10px 10px; }
.boxPadding { padding: 10px; }

/* ---- Packery grid stuff ---- */

.grid {
  /*background: #DDD;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

/* 5 columns, percentage width */
.grid-item {
  width: 4.66666666667%;
}

.grid-item {
  float: left;
  height: 100px;
  background: #C09;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.blue { background: blue; }
.green { background: green; }
.red { background: red; }

.gutter-sizer { width: 1%; }

.grid-item--fullwidth { width: 99%; }
.grid-item--third { width: 32.18%; }
.grid-item--half { width: 48.9%; }
.grid-item--twoThird { width: 65.7% }
.grid-item--height2 { height: 220px; }