/* WHAT'S ON slider styles with Flickity lib */
    #whatsOn .main-gallery {
        overflow: hidden;

    }
    #whatsOn .gallery-cell {
      margin:0;
      padding:0;
       width: 620px;
       height: 300px;
       height: 285px; /* Added 2016/02/18 SAS */
               }
   
   #whatsOn .gallery-cell img {
       width: 300px;
       height: 300px;
       height: 285px; /* Added 2016/02/18 SAS */
   }

   /* What's on gallery tiles */
.gallery-cell > div {  height: 100%; margin-right:5px; padding: 15px; }
.gallery-cell a:link,  .gallery-cell a:visited {  text-decoration:none;color:#000; }
#sow { background-image: url('../img/whats-on/a-state-of-war.jpg');background-size:cover;
text-align:right;
  padding-left:260px;}
#sow p{
  
}
#iconic { background-image: url('../img/whats-on/iconic-qld.jpg');background-size:cover;text-align:right;}
#iconic p{
  padding-left:260px;
}
#uqarch { background-image: url('../img/whats-on/UQ_architecture.jpg');background-size:cover;}
#qrf { background-image: url('../img/whats-on/qm-awards.jpg');background-size:cover;  }
#qrf h2{font-size:28pt;}
#aparch {background-image: url('../img/whats-on/asia-pacific-architecture.jpg');background-size:cover;}
#bw { background-image: url('../img/whats-on/black-and-write.jpg');background-size:cover;  }
#qldfaces { background-image: url('../img/whats-on/queenslandfaces.jpg');background-size:cover;  }


.
