
       /* CSS styles for the Other sites section */

       /*
        .otherSites .links { display: inline; padding: 0.5em; line-height: 3em; border: 1px; margin-right: 0.5em; }
       .otherSites .links a{color:#000;}
       #qanzac100{ border:solid 1px red;color:red;}
       #qanzac100 a{ color:red;}
       #join{ border:solid 1px purple;color:purple;}
       #join a{ color:purple;}
       #businessStudio{ border:solid 1px dodgerblue;color:dodgerblue;}
       #businessStudio a{ color:dodgerblue;}
       #subscribe{ border:solid 1px mediumseagreen;color:mediumseagreen;}
       #subscribe a{ color:mediumseagreen;}
       #support { border:solid 1px #c0416e;color:#c0416e; }
       #support a { color: #c0416e }
       #shop, #design { border:solid 1px #333;color:#333; }
       #shop a, #design a { color: #333 }
       #twitter { border:solid 1px #008fb7;color:#008fb7; }
       #twitter a { color: #008fb7 }
       #facebook { border:solid 1px navy;color:navy; }
       #facebook a { color: navy; }
       #corner { border:solid 1px orange;color:orange; }
       #corner a { color: orange; }
       #read4life { border:solid 1px darkorange;color:darkorange; }
       #read4life a { color: darkorange; }
       #blogs { border:solid 1px #c0416e;color:#c0416e; }
       #blogs a { color: #c0416e; }
       #edge { border:solid 1px #c0416e;color:#c0416e; }
       #edge a { color: #c0416e; }
       #plc { border:solid 1px #81cd24;color:#81cd24; }
       #plc a { color: #81cd24; }
       #creativeCommons { border:solid 1px #00a4a1;color:#00a4a1; }
       #creativeCommons a { color: #00a4a1; }
       
       .first { cursor: pointer; }
       .hide { display: inline; margin-left:1em; color:#000; height: 2em;  }
*/

.accordion-toggle { width: 80%; }
.accordion-toggle span { float:right; cursor: pointer; }
.accordion-content {display: none; border: 1px solid: #ccc; width: 70%; }
.accordion-content p { font-size: 1.2rem; }
.accordion-content.default {display: block;}
.otherSites ul { list-style-type: none; margin: 0; padding: 0; }
.otherSites .four.columns { margin-top: 1em; }